<h3>Rooms!</h3>

<mat-card class="character-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.currentCharacter.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://img.freepik.com/premium-vector/knight_1975-258.jpg?w=2000"
    alt="Knight">
  <mat-card-content>
    <ul>
      <li>Type: {{this.currentCharacter.type}}</li>
      <li>Armor Class: {{this.currentCharacter.armorClass}}</li>
      <li>Hit Points: {{this.currentCharacter.hitPoints}}</li>
      <li *ngIf="this.currentCharacter.hasJewel == true">Jewel</li>
      <li *ngIf="this.currentCharacter.hasRing == true">Ring</li>
      <li *ngIf="this.currentCharacter.hasSword == true">Sword</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="room-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.currentRoom.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <p>{{this.currentRoom.description}}</p>

    <button class="cardButtons" (click)="checkSelectedOption(this.currentRoom.option1Num)">{{this.currentRoom.option1Text}}</button>
    <button class="cardButtons" (click)="checkSelectedOption(this.currentRoom.option2Num)">{{this.currentRoom.option2Text}}</button>
    <button class="cardButtons" (click)="checkSelectedOption(this.currentRoom.option3Num)">{{this.currentRoom.option3Text}}</button>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button class="cardButtons" (click)="roomService.updateCurrentRoom(roomNumber)">Select Character</button> -->
</mat-card-actions>
</mat-card>



<!-- roomService.updateCurrentRoom(room.option3Num) -->
