<h3>Rooms!</h3>

<mat-card class="character-card" *ngFor="let character of characterService.returnSelectedCharacter()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{character.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image
    src="https://img.freepik.com/premium-vector/knight_1975-258.jpg?w=2000"
    alt="Knight">
  <mat-card-content>
    <ul>
      <li>Type: {{character.type}}</li>
      <li>Armor Class: {{character.armorClass}}</li>
      <li>Hit Points: {{character.hitPoints}}</li>
      <li *ngIf="character.hasJewel == true">Jewel</li>
      <li *ngIf="character.hasRing == true">Ring</li>
      <li *ngIf="character.hasSword == true">Sword</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card class="room-card" *ngFor="let room of roomService.returnCurrentRoom()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{room.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <p>{{room.description}}</p>

    <button class="cardButtons" (click)="checkSelectedOption(room.option1Num)">{{room.option1Text}}</button>
    <button class="cardButtons" (click)="checkSelectedOption(room.option2Num)">{{room.option2Text}}</button>
    <button class="cardButtons" (click)="checkSelectedOption(room.option3Num)">{{room.option3Text}}</button>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button class="cardButtons" (click)="roomService.updateCurrentRoom(roomNumber)">Select Character</button> -->
</mat-card-actions>
</mat-card>



<!-- roomService.updateCurrentRoom(room.option3Num) -->
